<!-- app/views/cover_letters/edit.html.erb -->

<div class="container mx-auto pt-16">
  <div class="flex justify-center">
    <div class="w-full max-w-md">
      <h1 class="text-center mb-6 text-2xl font-bold">Editing Cover Letter</h1>

      <div class="bg-white p-6 rounded-lg shadow-md">
        <%= render "form", cover_letter: @cover_letter %>
      </div>

      <div class="mt-6 text-center">
        <%= link_to "Show this cover letter", @cover_letter, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %> |
        <%= link_to "Back to cover letters", cover_letters_path, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
      </div>
    </div>
  </div>
</div>
