# <!-- app/views/cover_letters/index.html.erb -->

<h1>Your Cover Letters</h1>

<%= link_to 'New Cover Letter', new_coverletter_path %>

<ul>
  <% @coverletters.each do |coverletter| %>
    <li>
      <%= link_to coverletter.id, coverletter_path(coverletter) %>
      <%= link_to 'Edit', edit_coverletter_path(coverletter) %>
      <%= link_to 'Delete', coverletter_path(coverletter), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
