<!-- app/views/cover_letters/index.html.erb -->

<h1>Your Cover Letters</h1>

<%= link_to 'New Cover Letter', new_cover_letter_path %>

<ul>
  <% @cover_letters.each do |cover_letter| %>
    <li>
      <%= link_to cover_letter.id, cover_letter_path(cover_letter) %>
      <%= link_to 'Edit', edit_cover_letter_path(cover_letter) %>
      <%= link_to 'Delete', cover_letter_path(cover_letter), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
