<link href="./landing/benefits.css" rel="stylesheet" />

<div class="benefits-layout301 thq-section-padding">
  <div class="benefits-max-width thq-section-max-width">
    <h2>
      <span class="benefits-fragment3">
        <h2 class="benefits-text4 thq-heading-2">Key Benefits</h2>
      </span>
    </h2>
    <div class="benefits-row thq-grid-auto-300">
      <div class="benefits-feature1">
        <img alt="image1" src="https://images.unsplash.com/photo-1499290731724-12e120cfaef3?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQyfHxsb29raW5nJTIwYXQlMjB3YXRjaHxlbnwwfHx8fDE3MjM1NzU5NDl8MA&amp;ixlib=rb-4.0.3&amp;h=1500" class="thq-img-ratio-4-3"/>
        <div class="benefits-content1 thq-flex-column">
          <div class="benefits-section-title1 thq-flex-column">
            <h3>
              <span class="benefits-fragment2">
                <h3 class="benefits-text3 thq-heading-3">Save Time</h3>
              </span>
            </h3>
            <span class="pb-5">
              <span class="benefits-fragment6 pb-5">
                <span class="benefits-text7 thq-body-small pb-5">
                  Generate custom cover letters in minutes, not hours.
                </span>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="benefits-feature2">
        <img alt="image2" src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDJ8fGNvZGUlMjBzY2FufGVufDB8fHx8MTcyMzU3NTgwN3ww&amp;ixlib=rb-4.0.3&amp;h=1500" class="thq-img-ratio-4-3"/>
        <div class="benefits-content2 thq-flex-column">
          <div class="benefits-section-title2 thq-flex-column">
            <strong>
              <span class="benefits-fragment7">
                <strong class="benefits-text8 thq-heading-3">
                  Increase Chances
                </strong>
              </span>
            </strong>
            <span class="pb-5">
              <span class="benefits-fragment1">
                <span class="benefits-text2 thq-body-small">
                  ATS-optimized content to pass automated screenings.
                </span>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="benefits-feature3">
        <img alt="PlaceholderImage1314" src="https://images.unsplash.com/photo-1698047681432-006d2449c631?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE0fHxyZXN1bWV8ZW58MHx8fHwxNzIzNTc1NjE1fDA&amp;ixlib=rb-4.0.3&amp;h=1500" class="thq-img-ratio-4-3"/>
        <div class="benefits-content3 thq-flex-column">
          <div class="benefits-section-title3 thq-flex-column">
            <strong>
              <span class="benefits-fragment5">
                <strong class="benefits-text6 thq-heading-3">
                  Tailored Results
                </strong>
              </span>
            </strong>
            <span class="pb-5">
              <span class="benefits-fragment4 pb-5">
                <span class="benefits-text5 thq-body-small pb-5">
                  Highlight relevant skills and experiences for each job.
                </span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
