<link href="./landing/cta.css" rel="stylesheet" />

<div class="cta-container thq-section-padding">
  <div class="cta-max-width thq-section-max-width">
    <div class="cta-column">
      <div class="cta-content">
        <span class="cta-text1">Ready to Land Your Dream Job?</span>
        <p class="cta-text2">Create Your Cover Letter Now</p>
        <div class="cta-actions">
          <button type="button" class="cta-button1 thq-button-filled">
            <span>Log In</span>
          </button>
          <button type="button" class="cta-button2 thq-button-outline">
            <span>Sign Up</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <img alt="image" src="https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDR8fGdyYWRpZW50fGVufDB8fHx8MTcyMzU3OTgzNHww&amp;ixlib=rb-4.0.3&amp;w=1500" class="cta-background-image thq-img-ratio-16-9" />
  <img alt="image" src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8c2VhcmNofDM4fHxjb3Jwb3JhdGV8ZW58MHx8fHwxNzIzNTc5MjUwfDA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500" class="cta-image" />
</div>
