<link href="./landing/faq.css" rel="stylesheet" />

<div class="faq-faq8 thq-section-padding">
  <div class="faq-max-width thq-section-max-width">
    <div class="faq-container10 thq-flex-column">
      <div class="thq-flex-column">
        <h2>
          <span class="faq-fragment6">
            <h2 class="faq-text20 thq-heading-2">FAQs</h2>
          </span>
        </h2>
      </div>
      <div class="thq-flex-column">
        <p>
          <span class="faq-fragment2"></span>
        </p>
        <p class="faq-text16 thq-body-large">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Suspendisse varius enim in eros elementum tristique.
        </p>

        <p></p>
        <div class="faq-list thq-flex-column">
          <div class="faq-faq1">
            <div class="faq-trigger1 thq-section-max-width">
              <p>
                <span class="faq-fragment1"></span>
              </p>
              <p class="faq-text15 thq-body-large">
                Frequently Asked Questions
              </p>

              <p></p>
              <div class="faq-icons-container1">
                <div>
                  <svg viewBox="0 0 1024 1024" class="faq-icon10">
                    <path d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z" ></path>
                  </svg>
                </div>
                <div>
                  <svg viewBox="0 0 1024 1024" class="faq-icon12">
                    <path d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z" ></path>
                  </svg>
                </div>
              </div>
            </div>
            <div class="faq-container14">
              <span class="thq-body-small">
                Lorem ipsum dolor sit amet. Est eaque sint ut blanditiis
                sunt aut deleniti illum non repudiandae voluptatem. Aut
                praesentium doloribus qui distinctio neque ut unde
                temporibus. Cum exercitationem eveniet in omnis animi in
                corporis nulla. Sed tempora excepturi et voluptatem modi
                et exercitationem voluptate cum illum quisquam 33 quia
                blanditiis eos minus consequatur.Ut neque quam qui
                dignissimos voluptates ut voluptate totam aut consequuntur
                quod. Ut voluptas incidunt ut fuga nostrum ut quaerat enim
                eum earum tenetur? Est esse harum et Quis officiis et enim
                amet.Et minima tempore et neque voluptatem eos amet
                officiis et temporibus Quis. Et suscipit esse id nemo sunt
                At nihil earum et consequatur fuga aut sapiente voluptate
                est cupiditate esse non dolor cumque. Ut obcaecati
                recusandae et beatae quae qui doloremque eligendi sit
                eaque labore.
              </span>
            </div>
          </div>
          <div class="faq-faq2">
            <div class="faq-trigger2 thq-section-max-width">
              <p>
                <span class="faq-fragment3"></span>
              </p>
              <p class="faq-text17 thq-body-large">
                Frequently Asked Questions
              </p>

              <p></p>
              <div class="faq-icons-container2">
                <div>
                  <svg viewBox="0 0 1024 1024" class="faq-icon14">
                    <path d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z" ></path>
                  </svg>
                </div>
                <div>
                  <svg viewBox="0 0 1024 1024" class="faq-icon16">
                    <path d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z" ></path>
                  </svg>
                </div>
              </div>
            </div>
            <div class="faq-container17">
              <span class="thq-body-small">
                Et minima tempore et neque voluptatem eos amet officiis et
                temporibus Quis. Et suscipit esse id nemo sunt At nihil
                earum et consequatur fuga aut sapiente voluptate est
                cupiditate esse non dolor cumque. Ut obcaecati recusandae
                et beatae quae qui doloremque eligendi sit eaque labore.
              </span>
            </div>
          </div>
          <div class="faq-faq3">
            <div class="faq-trigger3 thq-section-max-width">
              <p>
                <span class="faq-fragment4"></span>
              </p>
              <p class="faq-text18 thq-body-large">
                Frequently Asked Questions
              </p>

              <p></p>
              <div class="faq-icons-container3">
                <div>
                  <svg viewBox="0 0 1024 1024" class="faq-icon18">
                    <path d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z" ></path>
                  </svg>
                </div>
                <div>
                  <svg viewBox="0 0 1024 1024" class="faq-icon20">
                    <path d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z" ></path>
                  </svg>
                </div>
              </div>
            </div>
            <div class="faq-container20">
              <span class="thq-body-small">
                A quia temporibus aut ullam assumenda vel eius sapiente ut
                eligendi molestias. Ex ipsum incidunt ut excepturi eaque
                sed nulla quia qui exercitationem alias aut consequuntur
                nihil et animi voluptas.
              </span>
            </div>
          </div>
        </div>
        <button class="faq-button thq-button-outline">
          <span>
            <span class="faq-fragment5">
              <span class="thq-body-small">Contact</span>
            </span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
