<link href="./landing/highlight.css" rel="stylesheet" />

<div class="highlight-layout223 thq-section-padding" id="features">
  <div class="highlight-max-width thq-section-max-width thq-flex-row">
    <div class="highlight-container thq-flex-column"></div>
    <img alt="image" src="UCL-iPhone-demo.png" class="highlight-image"/>
    <div class="thq-flex-column">
      <div class="highlight-list thq-flex-column">
        <div class="thq-flex-row highlight-list-item1">
          <svg viewBox="0 0 1024 1024" class="highlight-icon1">
            <path d="M384 384v256h256v-256h-256zM298 726v-428h428v428h-428zM640 214v-86h86v86h-86zM640 896v-86h86v86h-86zM810 726v-86h86v86h-86zM810 384v-86h86v86h-86zM810 896v-86h86q0 34-26 60t-60 26zM810 554v-84h86v84h-86zM470 896v-86h84v86h-84zM384 128v86h-86v-86h86zM128 726v-86h86v86h-86zM214 896q-34 0-60-26t-26-60h86v86zM810 128q34 0 60 26t26 60h-86v-86zM554 128v86h-84v-86h84zM128 384v-86h86v86h-86zM298 896v-86h86v86h-86zM128 554v-84h86v84h-86zM128 214q0-34 26-60t60-26v86h-86z"></path>
          </svg>
          <div class="highlight-content2 thq-flex-column">
            <h3>
              <span class="highlight-fragment2">
                <h3 class="thq-heading-3 highlight-text11">
                  <span>AI-powered skill matching</span>
                  <br />
                </h3>
              </span>
            </h3>
            <span>
              <span class="highlight-fragment5">
                <span class="highlight-text16 thq-body-small">tbd</span>
              </span>
            </span>
          </div>
        </div>
        <div class="thq-flex-row highlight-list-item2">
          <svg viewBox="0 0 1024 1024" class="highlight-icon3">
            <path d="M1024 768v73.143c0 20-16.571 36.571-36.571 36.571h-950.857c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h950.857c20 0 36.571 16.571 36.571 36.571zM804.571 548.571v73.143c0 20-16.571 36.571-36.571 36.571h-731.429c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h731.429c20 0 36.571 16.571 36.571 36.571zM950.857 329.143v73.143c0 20-16.571 36.571-36.571 36.571h-877.714c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h877.714c20 0 36.571 16.571 36.571 36.571zM731.429 109.714v73.143c0 20-16.571 36.571-36.571 36.571h-658.286c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h658.286c20 0 36.571 16.571 36.571 36.571z"></path>
          </svg>
          <div class="highlight-content3 thq-flex-column">
            <h3>
              <span class="highlight-fragment1">
                <h3 class="highlight-text10 thq-heading-3">
                  Keyword optimization for ATS
                </h3>
              </span>
            </h3>
            <span>
              <span class="highlight-fragment3">
                <span class="highlight-text14 thq-body-small">tbd</span>
              </span>
            </span>
          </div>
        </div>
        <div class="thq-flex-row">
          <svg viewBox="0 0 1024 1024" class="highlight-icon5">
            <path d="M469.333 128h-298.667c-35.328 0-67.413 14.379-90.496 37.504s-37.504 55.168-37.504 90.496v597.333c0 35.328 14.379 67.413 37.504 90.496s55.168 37.504 90.496 37.504h597.333c35.328 0 67.413-14.379 90.496-37.504s37.504-55.168 37.504-90.496v-298.667c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v298.667c0 11.776-4.736 22.4-12.501 30.165s-18.389 12.501-30.165 12.501h-597.333c-11.776 0-22.4-4.736-30.165-12.501s-12.501-18.389-12.501-30.165v-597.333c0-11.776 4.736-22.4 12.501-30.165s18.389-12.501 30.165-12.501h298.667c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667zM759.168 76.501l-405.333 405.333c-5.205 5.163-9.259 11.947-11.221 19.84l-42.667 170.667c-1.664 6.4-1.792 13.568 0 20.693 5.717 22.869 28.885 36.779 51.755 31.061l170.667-42.667c7.125-1.749 14.080-5.504 19.84-11.221l405.333-405.333c25.984-25.984 38.997-60.16 38.997-94.165s-13.013-68.181-38.997-94.165-60.203-39.040-94.208-39.040-68.181 13.013-94.165 38.997zM819.499 136.832c9.344-9.344 21.504-13.995 33.835-13.995s24.491 4.651 33.835 13.995 13.995 21.504 13.995 33.835-4.651 24.491-13.995 33.835l-396.971 396.971-90.197 22.571 22.571-90.197z"></path>
          </svg>
          <div class="highlight-content4 thq-flex-column">
            <h3>
              <span class="highlight-fragment4">
                <h3 class="thq-heading-3 highlight-text15">
                  Easy editing and personalization
                </h3>
              </span>
            </h3>
            <span>
              <span class="highlight-fragment7">
                <span class="highlight-text18 thq-body-small">tbd</span>
              </span>
            </span>
          </div>
        </div>
        <div class="thq-flex-row">
          <svg viewBox="0 0 1024 1024" class="highlight-icon7">
            <path d="M969.143 219.429c30.286 0 54.857 24.571 54.857 54.857v694.857c0 30.286-24.571 54.857-54.857 54.857h-548.571c-30.286 0-54.857-24.571-54.857-54.857v-164.571h-310.857c-30.286 0-54.857-24.571-54.857-54.857v-384c0-30.286 17.714-72.571 38.857-93.714l233.143-233.143c21.143-21.143 63.429-38.857 93.714-38.857h237.714c30.286 0 54.857 24.571 54.857 54.857v187.429c22.286-13.143 50.857-22.857 73.143-22.857h237.714zM658.286 341.143l-170.857 170.857h170.857v-170.857zM292.571 121.714l-170.857 170.857h170.857v-170.857zM404.571 491.429l180.571-180.571v-237.714h-219.429v237.714c0 30.286-24.571 54.857-54.857 54.857h-237.714v365.714h292.571v-146.286c0-30.286 17.714-72.571 38.857-93.714zM950.857 950.857v-658.286h-219.429v237.714c0 30.286-24.571 54.857-54.857 54.857h-237.714v365.714h512z"
                  ></path>
          </svg>
          <div class="highlight-content5 thq-flex-column">
            <h3>
              <span class="highlight-fragment8">
                <h3 class="highlight-text19 thq-heading-3">
                  Multiple versions for different applications
                </h3>
              </span>
            </h3>
            <span>
              <span class="highlight-fragment6">
                <span class="highlight-text17 thq-body-small">tbd</span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
