<link href="./landing/pricing.css" rel="stylesheet" />

<div class="pricing-pricing10 thq-section-padding" id="pricing">
  <div class="pricing-max-width thq-section-max-width">
    <div class="pricing-section-title">
      <span>
        <span class="pricing-fragment27">
          <span class="pricing-text53 thq-body-small">
            Choose the perfect plan for you
          </span>
        </span>
      </span>
      <div class="pricing-content1">
        <h2>
          <span class="pricing-fragment22">
            <h2 class="pricing-text48 thq-heading-2">Pricing plan</h2>
          </span>
        </h2>
        <p>
          <span class="pricing-fragment29"></span>
        </p>
        <p class="pricing-text55 thq-body-large">
          <span>
            *Pricing set to change*
          </span>
          <span>&nbsp;</span>
        </p>

        <p></p>
      </div>
    </div>


    <div class="pricing-content2">
      <div class="pricing-column1 thq-card">
        <div class="pricing-content3">
          <div class="pricing-price1">
            <p>
              <span class="pricing-fragment19"></span>
            </p>
            <p class="pricing-text45 thq-body-large">Free Trial</p>

            <p></p>
            <h3>
              <span class="pricing-fragment13">
                <h3 class="pricing-text39 thq-heading-3">$0</h3>
              </span>
            </h3>
            <p>
              <span class="pricing-fragment30"></span>
            </p>
            <p class="pricing-text58 thq-body-large">
              <span>&nbsp;</span>
              <br />
            </p>

            <p></p>
          </div>
          <div class="pricing-list1">
            <div class="pricing-list-item10">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z" ></path>
              </svg>
              <span>
                <span class="pricing-fragment26">
                  <span class="thq-body-small">
                    Generate up to 3 cover letters
                  </span>
                </span>
              </span>
            </div>
            <div class="pricing-list-item11">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z" ></path>
              </svg>
              <span>
                <span class="pricing-fragment12">
                  <span class="thq-body-small">
                    Basic AI-powered skill matching
                  </span>
                </span>
              </span>
            </div>
            <div class="pricing-list-item12">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z" ></path>
              </svg>
              <span>
                <span class="pricing-fragment18">
                  <span class="thq-body-small">
                    Limited keyword optimization
                  </span>
                </span>
              </span>
            </div>
            <div class="pricing-list-item12">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z" ></path>
              </svg>
              <span>
                <span class="pricing-fragment18">
                  <span class="thq-body-small">
                    7-day access to the platform
                  </span>
                </span>
              </span>
            </div>
          </div>
        </div>
        <button class="pricing-button1 thq-button-outline">
          <span>
            <span class="pricing-fragment25">
              <span class="thq-body-small">Try It Now</span>
            </span>
          </span>
        </button>
      </div>


      <div class="pricing-column2 thq-card">
        <div class="pricing-content4">
          <div class="pricing-price2">
            <p>
              <span class="pricing-fragment14"></span>
            </p>
            <p class="pricing-text40 thq-body-large">Pro Plan</p>

            <p></p>
            <h3>
              <span class="pricing-fragment17">
                <h3 class="pricing-text43 thq-heading-3">$3/mo</h3>
              </span>
            </h3>
            <p>
              <span class="pricing-fragment24"></span>
            </p>
            <p class="pricing-text50 thq-body-large">or $30 annually</p>

            <p></p>
          </div>
          <div class="pricing-list2">
            <div class="pricing-list-item13">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z" ></path>
              </svg>
              <span>
                <span class="pricing-fragment10">
                  <span class="thq-body-small">
                    Unlimited cover letter generation
                  </span>
                </span>
              </span>
            </div>
            <div class="pricing-list-item14">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z" ></path>
              </svg>
              <span>
                <span class="pricing-fragment23">
                  <span class="thq-body-small">
                    Advanced AI skill matching and suggestions
                  </span>
                </span>
              </span>
            </div>
            <div class="pricing-list-item15">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z" ></path>
              </svg>
              <span>
                <span class="pricing-fragment34">
                  <span class="thq-body-small">
                    Full ATS keyword optimization
                  </span>
                </span>
              </span>
            </div>
            <div class="pricing-list-item15">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z" ></path>
              </svg>
              <span>
                <span class="pricing-fragment34">
                  <span class="thq-body-small">
                    Access to premium templates
                  </span>
                </span>
              </span>
            </div>
            <div class="pricing-list-item15">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z" ></path>
              </svg>
              <span>
                <span class="pricing-fragment34">
                  <span class="thq-body-small">
                    Save and edit multiple versions
                  </span>
                </span>
              </span>
            </div>
            <div class="pricing-list-item15">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z" ></path>
              </svg>
              <span>
                <span class="pricing-fragment34">
                  <span class="thq-body-small">
                    Email support
                  </span>
                </span>
              </span>
            </div>
          </div>
        </div>
        <button class="pricing-button2 thq-button-outline">
          <span>
            <span class="pricing-fragment11">
              <span class="thq-body-small">Get started</span>
            </span>
          </span>
        </button>
      </div>


      <div class="pricing-column3 thq-card">
        <div class="pricing-price3">
          <div class="pricing-price4">
            <p>
              <span class="pricing-fragment28"></span>
            </p>
            <p class="pricing-text54 thq-body-large">UCL Max Plan</p>

            <p></p>
            <h3>
              <span class="pricing-fragment21">
                <h3 class="pricing-text47 thq-heading-3">$9/mo</h3>
              </span>
            </h3>
            <p>
              <span class="pricing-fragment31"></span>
            </p>
            <p class="pricing-text61 thq-body-large">or $90 annually</p>

            <p></p>
          </div>
          <div class="pricing-list3">
            <div class="pricing-list-item16">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z" ></path>
              </svg>
              <span>
                <span class="pricing-fragment16">
                  <span class="thq-body-small">
                    Bulk cover letter generation for multiple candidates
                  </span>
                </span>
              </span>
            </div>
            <div class="pricing-list-item17">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z" ></path>
              </svg>
              <span>
                <span class="pricing-fragment32">
                  <span class="thq-body-small">
                    Custom branding options                 
                  </span>
                </span>
              </span>
            </div>
            <div class="pricing-list-item18">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z" ></path>
              </svg>
              <span>
                <span class="pricing-fragment20">
                  <span class="thq-body-small">
                    Integration with ATS and HR systems
                  </span>
                </span>
              </span>
            </div>
            <div class="pricing-list-item19">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z" ></path>
              </svg>
              <span>
                <span class="pricing-fragment15">
                  <span class="thq-body-small">
                    Dedicated account manager
                  </span>
                </span>
              </span>
            </div>
            <div class="pricing-list-item20">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M384 690l452-452 60 60-512 512-238-238 60-60z" ></path>
              </svg>
              <span>
                <span class="pricing-fragment35">
                  <span class="thq-body-small">
                    Priority phone and email support
                  </span>
                </span>
              </span>
            </div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <button class="pricing-button3 thq-button-filled">
          <span>
            <span class="pricing-fragment33">
              <span class="thq-body-small">Get started</span>
            </span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
