<link href="./landing/steps.css" rel="stylesheet" />

<div class="steps-container1 thq-section-padding">
  <div class="steps-max-width thq-section-max-width">
    <div class="steps-container2 thq-grid-2">
      <div class="steps-section-header">
        <h2 class="thq-heading-2">How It Works</h2>
        <p class="thq-body-large">
          To be added later :)
        </p>
        <!--<div class="steps-actions"></div>-->
      </div>
      <div class="steps-container3">
        <div class="steps-container4 thq-card">
          <h2>
            <span class="steps-fragment8">
              <h2 class="thq-heading-2">Upload your resume</h2>
            </span>
          </h2>
          <span>
            <span class="steps-fragment4">
              <span class="steps-text27 thq-body-small">
                <span>tbd</span>
                <br />
              </span>
            </span>
          </span>
          <label class="steps-text14 thq-heading-3">01</label>
        </div>
        <div class="steps-container5 thq-card">
          <h2>
            <span class="steps-fragment2">
              <h2 class="steps-text25 thq-heading-2">
                Paste the job description
              </h2>
            </span>
          </h2>
          <span>
            <span class="steps-fragment5">
              <span class="steps-text30 thq-body-small">tbd</span>
            </span>
          </span>
          <label class="steps-text17 thq-heading-3">02</label>
        </div>
        <div class="steps-container6 thq-card">
          <h2>
            <span class="steps-fragment6">
              <h2 class="thq-heading-2">
                Generate your tailored cover letter
              </h2>
            </span>
          </h2>
          <span>
            <span class="steps-fragment1">
              <span class="steps-text24 thq-body-small">tbd</span>
            </span>
          </span>
          <label class="steps-text20 thq-heading-3">03</label>
        </div>
        <div class="steps-container7 thq-card">
          <h2>
            <span class="steps-fragment7">
              <h2 class="steps-text32 thq-heading-2">
                Edit and personalize as needed
              </h2>
            </span>
          </h2>
          <span>
            <span class="steps-fragment3">
              <span class="steps-text26 thq-body-small">tbd</span>
            </span>
          </span>
          <label class="steps-text23 thq-heading-3">04</label>
        </div>
      </div>
    </div>
  </div>
</div>
