<link href="./landing/testimonial.css" rel="stylesheet" />

<div class="thq-section-padding">
  <div class="testimonial-max-width thq-section-max-width">
    <div data-thq="slider" data-loop="true" data-autoplay="true" data-navigation="true" data-pagination="true" data-autoplay-delay="5000" class="testimonial-slider swiper">
      <div data-thq="slider-wrapper" class="swiper-wrapper">
        <div data-thq="slider-slide" class="testimonial-slider-slide1 swiper-slide">
          <div class="testimonial-container2">
            <div class="testimonial-stars1">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"></path>
              </svg>
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"></path>
              </svg>
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"></path>
              </svg>
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"></path>
              </svg>
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"></path>
              </svg>
            </div>
            <p>
              <span class="testimonial-fragment6"></span>
            </p>
            <p class="thq-body-large">
              "After using UCL and landing my dream job, it changed my
              life. It brought me fame, fortune, and power!"
            </p>

            <p></p>
            <div class="testimonial-avatar1 thq-flex-row">
              <img alt="Author Avatar" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDN8fHVzZXJ8ZW58MHx8fHwxNzEwOTQyNjEyfDA&amp;ixlib=rb-4.0.3&amp;w=200" class="testimonial-avatar-image1 thq-img-ratio-1-1 thq-img-round" />
              <div class="testimonial-avatar-content1">
                <span>
                  <span class="testimonial-fragment1">
                    <span class="testimonial-text16 thq-body-small">
                      Jan Niewielski
                    </span>
                  </span>
                </span>
                <span>
                  <span class="testimonial-fragment5">
                    <span class="thq-body-small">CEO, Apple Inc.</span>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div data-thq="slider-slide" class="testimonial-slider-slide2 swiper-slide">
          <div class="testimonial-container3">
            <div class="testimonial-stars2">
              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"></path>
              </svg>

              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"></path>
              </svg>

              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"></path>
              </svg>

              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"></path>
              </svg>

              <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                <path d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"></path>
              </svg>
            </div>
            <p>
              <span class="testimonial-fragment2"></span>
            </p>
            <p class="thq-body-large">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis
              cursus, mi quis viverra ornare, eros dolor interdum nulla,
              ut commodo diam libero vitae erat."
            </p>

            <p></p>
            <div class="testimonial-avatar2 thq-flex-row">
              <img alt="Author Avatar" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDN8fHVzZXJ8ZW58MHx8fHwxNzEwOTQyNjEyfDA&amp;ixlib=rb-4.0.3&amp;w=200" class="testimonial-avatar-image2 thq-img-ratio-1-1 thq-img-round" />
              <div class="testimonial-avatar-content2">
                <span>
                  <span class="testimonial-fragment4">
                    <span class="testimonial-text19 thq-body-small">
                      Author Name
                    </span>
                  </span>
                </span>
                <span>
                  <span class="testimonial-fragment3">
                    <span class="thq-body-small">
                      Position, Company name
                    </span>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-thq="slider-pagination" class="testimonial-slider-pagination swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal">
        <div data-thq="slider-pagination-bullet" class="swiper-pagination-bullet swiper-pagination-bullet-active"></div>
        <div data-thq="slider-pagination-bullet" class="swiper-pagination-bullet swiper-pagination-bullet-active"></div>
      </div>
      <div data-thq="slider-button-prev" class="testimonial-slider-button-prev swiper-button-prev"></div>
      <div data-thq="slider-button-next" class="testimonial-slider-button-next swiper-button-next"></div>
    </div>
  </div>
</div>

<script defer="" src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
