<!-- app/views/shared/_placeholder.html.erb -->

<div id="loading-placeholder" class="d-none">
  <h3 class="text-center mb-3">Generating Cover Letter...</h3>
  <div class="text-center mb-3">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="placeholder-glow">
    <p><span class="placeholder col-2"></span></p>
    <p><span class="placeholder col-2"></span></p>
    <p><span class="placeholder col-2"></span></p>
    <p><span class="placeholder col-2"></span></p>
    <p></p>
    <p><span class="placeholder col-1"></span></p>
    <p><span class="placeholder col-2"></span> <span class="placeholder col-4"></span> <span class="placeholder col-4"></span></p>
    <p><span class="placeholder col-4"></span> <span class="placeholder col-3"></span> <span class="placeholder col-3"></span></p>
    <p><span class="placeholder col-6"></span> <span class="placeholder col-1"></span> <span class="placeholder col-3"></span></p>
    <p><span class="placeholder col-4"></span> <span class="placeholder col-3"></span> <span class="placeholder col-4"></span></p>
    <p><span class="placeholder col-5"></span> <span class="placeholder col-2"></span> <span class="placeholder col-3"></span></p>
    <p><span class="placeholder col-6"></span> <span class="placeholder col-2"></span> <span class="placeholder col-2"></span></p>
    <p><span class="placeholder col-5"></span> <span class="placeholder col-3"></span></p>
    <p></p>
    <p><span class="placeholder col-1"></span></p>
    <p><span class="placeholder col-2"></span></p>
  </div>
</div>
