<link href="./contact_us/contact-form.css" rel="stylesheet" />

<div class="contact-form-contact9 thq-section-padding mt-20">
  <div class="thq-section-max-width thq-flex-row contact-form-max-width">
    <img alt="Image1" src="https://images.unsplash.com/photo-1466096115517-bceecbfb6fde?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE3fHxjb250YWN0fGVufDB8fHx8MTcyMzY0OTY3NXww&ixlib=rb-4.0.3&w=1500" class="contact-form-image1 thq-img-ratio-4-3" />
    <div class="contact-form-content1 thq-flex-column">
      <div class="contact-form-section-title thq-card">
        <span>
          <span class="contact-form-fragment1">
            <span class="contact-form-text18 thq-body-small">
              Get in touch with us
            </span>
          </span>
        </span>
        <div class="contact-form-content2">
          <h2>
            <span class="contact-form-fragment4">
              <h2 class="thq-heading-2">Contact us</h2>
            </span>
          </h2>
          <span>
            <span class="contact-form-fragment3">
              <span class="thq-body-small">
                <span>
                  <span></span>
                  <span></span>
                </span>
                <span>
                  <span></span>
                  <span></span>
                </span>
              </span>
            </span>
          </span>
        </div>
        <span>
          <span class="contact-form-fragment5">
            <span class="contact-form-text28 thq-body-small">Have a question or feedback? Send a message to us below!</span>
          </span>
        </span>
      </div>
      <form class="thq-card">
        <div class="contact-form-input1">
          <label for="contact-form-3-name" class="thq-body-small">
            Name
          </label>
          <input type="text" id="contact-form-3-name" placeholder="Name" class="thq-input" />
        </div>
        <div class="contact-form-input2">
          <label for="contact-form-3-email" class="thq-body-small">
            Email
          </label>
          <input type="email" id="contact-form-3-email" required="true" placeholder="Email" class="thq-input" />
        </div>
        <div class="contact-form-container">
          <label for="contact-form-3-message" class="thq-body-small">
            Message
          </label>
          <textarea id="contact-form-3-message" rows="3" placeholder="Enter your message" class="thq-input"></textarea>
        </div>
        <!--<div class="contact-form-checkbox1">
          <input type="checkbox" id="contact-form-3-check" checked="true" required="true" class="thq-checkbox" />
          <label for="contact-form-3-check" class="contact-form-text17 thq-body-small">
            I accept the Terms
          </label>
        </div>-->
        <button type="submit" class="contact-form-button thq-button-filled">
          <span>
            <span class="contact-form-fragment2">
              <span class="thq-body-small">Submit</span>
            </span>
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
