<h1>Editing job posting</h1>

<%= render "form", job_posting: @job_posting %>

<br>

<div>
  <%= link_to "Show this job posting", @job_posting %> |
  <%= link_to "Back to job postings", job_postings_path %>
</div>
