# <!-- app/views/job_postings/index.html.erb -->

<h1>Job Postings</h1>

<%= link_to 'New Job Posting', new_jobposting_path %>

<ul>
  <% @jobpostings.each do |jobposting| %>
    <li>
      <%= link_to jobposting.id, jobposting_path(jobposting) %>
      <%= link_to 'Edit', edit_jobposting_path(jobposting) %>
      <%= link_to 'Delete', jobposting_path(jobposting), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
