.a1-footer-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.a1-footer-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.a1-footer-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
.a1-footer-logo,
.a1-footer-social-links {
  flex: 0 0 auto;
}
.a1-footer-image1 {
  height: 2rem;
}
.a1-footer-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}
.a1-footer-icon1 {
  width: 24px;
  height: 24px;
}
.a1-footer-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.a1-footer-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.a1-footer-footer-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.a1-footer-fragment1 {
  display: contents;
}
.a1-footer-fragment2 {
  display: contents;
}
.a1-footer-fragment3 {
  display: contents;
}
.a1-footer-fragment4 {
  display: contents;
}
.a1-footer-fragment5 {
  display: contents;
}
@media(max-width: 991px) {
  .a1-footer-content {
    flex: 1;
    align-self: stretch;
  }
  .a1-footer-logo {
    gap: 0;
    width: auto;
  }
  .a1-footer-links {
    align-self: center;
    justify-content: center;
  }
  .a1-footer-social-links {
    gap: 0;
  }
}
@media(max-width: 767px) {
  .a1-footer-content {
    flex-direction: column;
    align-items: center;
  }
  .a1-footer-links {
    width: 100%;
    justify-content: center;
  }
  .a1-footer-row {
    flex-direction: column;
  }
  .a1-footer-footer-links {
    gap: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .a1-footer-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .a1-footer-content {
    width: 100%;
  }
  .a1-footer-links {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .a1-footer-social-links {
    margin-right: 41px;
  }
}
