.contact-form-contact9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form-image1 {
  flex: 1;
  width: auto;
  height: auto;
  max-width: 640px;
  border-radius: var(--dl-radius-radius-radius4);
}
.contact-form-content1 {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
.contact-form-section-title {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-form-content2 {
  gap: 0;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-form-input1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form-input2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form-container {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contact-form-checkbox1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
}
.contact-form-text17 {
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.contact-form-button {
  align-self: flex-start;
  flex-direction: row;
}
.contact-form-fragment1 {
  display: contents;
}
.contact-form-text18 {
  text-align: left;
}
.contact-form-fragment2 {
  display: contents;
}
.contact-form-fragment3 {
  display: contents;
}
.contact-form-fragment4 {
  display: contents;
}
.contact-form-fragment5 {
  display: contents;
}
.contact-form-text28 {
  display: inline-block;
  text-align: left;
}
@media(max-width: 991px) {
  .contact-form-max-width {
    flex-direction: column;
  }
  .contact-form-content1 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .contact-form-image1 {
    width: 100%;
  }
}
